<div id="bienvenue">
<div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicateurs -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- Carrousel -->
        <div class="carousel-inner">
          <div id='classe_defile' class="carousel-item active">
            <img id = "bine1" src="{{ asset('/Images/bien3.png') }}" alt="Carrousel slide 1">
            {# <div class="carousel-caption d-none d-md-block">
              <h3 >Echangez vos livres.... </h3>
              <p>Envoyez vos livres et gagnez des points !!!!<br>Transferez des points à vos amis.</p>
            </div> #}
          </div>
          <div id='classe_defile' class="carousel-item">
            <img id = "bine2" src="{{ asset('/Images/bien.png') }}" alt="Carrousel slide 2" >
            {# <div class="carousel-caption d-none d-md-block text-white">
              <h3>Recevez des livres ....</h3>
              <p>Commandez et recevez vos livres !!!!!</p>
            </div> #}
          </div>
          <div id='classe_defile' class="carousel-item">
            <img id = "bine3" src="{{ asset('/Images/bien1.png') }}" alt="Carrousel slide 3" >
            {# <div class="carousel-caption d-none d-md-block">
              <h3>Lisez le guide d'utilisation et comprenez le mode de fonctionnement.... </h3>
              <p>Lisez le guide d'utilisation pour comprendre le mode de fonctionnement du site. Comment échanger et ajouter des livres ...</p>
            </div> #}
          </div>
        </div>

        <!-- Contrôles -->
        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
    </div>        
<div id="bienvenue">