<div id="ajouterlivre">
    <h1 style="text-align:center;">Ajouter un livre.</h1>

    Pour ajouter un livre, il faut d'abord vous connecter.<br>
    Une fois connecté, vous pouvez ajouter vos livres en deux manières:
    <ol>
        <li>
            Rechercher le livre dans le sites parmi les livres disponible ou vous saisissez son titre sur le moteur de recherche du site. 
            Une fois le livre affiché, vous cliquez sur le boutton <span class='sty'>ajouter</span>;
            
        </li>
        <li>
            Sur le tableau de bord à gauche, vous cliquez sur <span class="sty">Ajouter un livre</span> 
            un formulaire vous sera fourni.<br>
            Vous renseigner le <span class="sty">code ISBN </span>du livre et sa catégorie. Une recherche sera faite et toute les livres ayant ce code
            vous seront afficher vous choisissez votre livre et cliquez sur <span class='sty'>ajouter</span>.
        </li>
    </ol>

    <div class='isbn'>
            <h4 style="text-align:center;">Qu'est-ce que l'ISBN?</h4>
            C’est le numéro d’immatriculation personnel et unique de votre livre.<br>
            ISBN est l’acronyme d’International Standard Book Number ou Numéro international normalisé du livre.<br>
            C’est un numéro à 13 chiffres depuis le 1er janvier 2007 (les ouvrages antérieurs avaient un ISBN à 10 chiffres).<br>
            La norme ISBN révisée précise que le système ISBN s'applique à n'importe quelle forme de publication monographique, y compris les e-books.<br>
            L'ISBN identifie donc sans aucune équivoque votre livre quel que soit son support de publication, imprimé ou numérique.<br>
            <p class='photo_isbn'>
                    <img src="{{ asset('/Images/isbn1.png') }}" > <br>
                    <img src="{{ asset('/Images/isbn2.png') }}" >
            </p>
    </div>
</div>